<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>News Articles</title>
</head>
<h1>Nosey-Glode News Articles</h1>
<body>
  <div class=container>
    <%= yield %>
  </div>

</body>
<h5>Leading News Network at Breaking Broken-News</h5>
</html>
